body {
    background-color: #e2e8f0;
    font-family: 'Segoe UI', sans-serif;
}

.top-bar-admin {
    background-color: #1e293b; 
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.logo-area {
    font-weight: bold;
    font-size: 1.2rem;
}

.btn-nav {
    color: #94a3b8;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
}

    .btn-nav:hover {
        color: white;
    }

.btn-logout {
    background: #ef4444;
    border: none;
    color: white;
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.admin-card {
    border: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}


.console-box {
    background-color: #0f172a;
    color: #22c55e; 
    font-family: 'Consolas', monospace;
    padding: 15px;
    border-radius: 6px;
    margin-top: 15px;
    height: 200px;
    overflow-y: auto; 
    font-size: 0.9rem;
    border: 1px solid #334155;
}
